@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
  --primary-color: #BB84FA;
  --secondary-color: rgba(243, 243, 243, 0.767);
  --disable-color: rgb(170, 170, 170);
  --light: #ffff;
  --progress: #552191;
  --bg-footer: #D9D9D9;
  --black: rgb(3, 3, 3);
  --border-color: #6d65656f;
  --title-color: #2c2c2c;
  --hover: #e4e4e4;
  --bg-content-addres: #F2EAEA;
  --box-shadow-default: 2px 2px 5px 0px rgba(0,0,0,0.62);
  --radius: 7px;
  --padding-default: 10px;
  --padding-side: 0 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

