@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root {
  --primary: #BB84FA;
  --secundary: #CB9FE0;
  --secondary: rgb(170, 170, 170);
  --light: #ffff;
  --progress: #F87C09;
  --bg-footer: #D9D9D9;
  --black: rgb(3, 3, 3);
  --border-color: #6d65656f;
  --hover: #f0f0f0;
  --bg-content-addres: #F2EAEA;
  --big-height: 272px;
  --height: 242px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
