@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
  --primary: #BC85FC;
  --light: #ffff;
  --progress: #F87C09;
  --bg-footer: #D9D9D9;
  --black: rgb(3, 3, 3);
  --border-color: #6d65656f;
  --big-height: 272px;
  --height: 172px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
