.main {
  position: relative;
  height: 100vh;
}

/* ---------- header */
.header {
  background-color: var(--green);
  height: var(--big-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.imgContentStudio img {
  height: 100%;
}

/* ---------- content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 200px;
  gap: 55px;
}

.routeButton {
  height: 100px;
  width: 150px;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.routeButton i {
  font-size: 25px;
}

.routeButton p {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}

