.main {
  position: relative;
  height: 100vh;
}

/* ---------- header */
.header {
  background-color: var(--green);
  height: var(--big-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.imgContentStudio img {
  height: 100%;
}

/* ---------- content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 200px;
  gap: 55px;
}

.routeButton {
  height: 100px;
  width: 150px;
  padding: 10px;
  border-radius: 7px;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.routeButton i {
  font-size: 25px;
}

.routeButton p {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
}

/* ---------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #D9D9D9;
  padding: 7px;
  display: flex;
  gap: 55px;
  justify-content: center;
  margin-top: 1px solid #6D6565;
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);
-webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);
-moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);

}

.footer .itemFooter {
  text-align: center;
  cursor: pointer;
  font-size: 11px;
}

.itemFooter i {
  font-size: 17px;
}

