/* ----------------------------- home */
.homePage {
  display: grid;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
}

.headerHome {
  display: flex;
  width: 100%;
  padding: 10%;
  justify-content: space-between;
}

.headerHomeImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerHomeImg > img {
  height: 300px;
  width: auto;
}

.headerHomeDescription {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.headerHomeDescription>p {
  color: var(--light);
  font-family: 'Reenie Beanie', cursive;
  font-size: 4rem;
}

.headerHomeDescription>h2 {
  color: var(--light);
  font-size: 2rem;
  font-weight: lighter
}

.homeButtonsDiv {
  flex-direction: column;
  gap: 10px !important;
}

/* ---------- content */
.homeContent {
  padding: 5% 10%;
  position: relative;
}

.homeButtonsDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 450px;
}

.colorIcon {
  color: var(--primary-color)
}

/* routebuttons */
.routeButton {
  padding: var(--pedding);
  border-radius: var(--radius);
  background-color: var(--light);
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;
}

.routeButton i {
  font-size: 1.3rem;
  margin-right: .5rem !important;
}

.routeButton p {
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 1.3rem;
  font-weight: 500 !important;
}

.routeButton:hover {
  background-color: var(--hover);
}

/* ----------------------------- professional */
.professionalPage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
}

.professionalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-default);
}

.cardContent {
  display: flex;
  padding: 10px 10% !important;
  gap: 2%;
  overflow: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.professionalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: .3s;
  background-color: var(--light);
  border-radius: var(--radius);
  height: 300px;
  width: 300px;
}

.professionalCard:hover {
  background-color: var(--hover);
}

.professionalCard i {
  filter: drop-shadow(5px 2px 2px #cca5f8);
  font-size: 25px;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.professionalDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.professionalCard .imgProfessional {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imgPerfilProfessional {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.imgPerfilProfessional>img {
  height: 100%;
}

/* ----------------------------- service */
.servicePage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 60px);
  background-color: var(--secondary-color);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--padding-default);
}

.serviceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-default);
  cursor: pointer;
  gap: 3px;
  transition: .3s;
  background-color: var(--light);
  border-radius: var(--radius);
  width: 100%;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.serviceInfo>h3 {
  color: var(--title-color);
  font-weight: 500;
}

.serviceInfo>.checkedTitle {
  color: var(--primary-color);
}

.serviceItem:hover {
  background-color: var(--hover);
}

.serviceTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.serviceDescription {
  font-size: 12px;
  min-height: 20px;
  color: rgb(34, 33, 33);
}

.services {
  margin-bottom: 2rem;
  height: max-content;
  max-height: 80%;
  overflow: auto;
  overflow-x: hidden;
}

.serviceContent::-webkit-scrollbar {
  width: 11px;
}

.serviceContent::-webkit-scrollbar-track {
  background-color: rgb(175, 175, 175);
}

.serviceContent::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--radius);
}

.selectButton {
  width: 17px;
  height: 17px;
  accent-color: var(--primary);
}

.buttonDisabled {
  background-color: var(--disable-color) !important;
}

.buttonWhatsappDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 80px;
}

.buttonWhatsappDiv>button {
  background-color: var(--primary-color);
  border: none;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--light);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

.buttonWhatsappDiv>button:hover {
  filter: brightness(1.1);
}

/* ----------------------------- addres */
.addresPage {
  display: grid;
  grid-template-rows: 10% 90%;
  height: calc(100vh - 60px);
  background-color: var(--secondary-color);
}

/* .studioHeaderAddres {
  width: 100%;
}

.studioHeaderAddres p {
  color: var(--light);
  font-weight: lighter;
} */

.studioHeaderAddres {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--padding-default);
}

.studioHeaderAddres>div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.studioHeaderAddres>p {
  color: var(--light);
  font-weight: lighter;
}

.imgContentStudio>img {
  height: 100%;
}

.addresInfo {
  background-color: var(--light);
  border-radius: var(--radius);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headerAddres {
  justify-content: flex-start;
}

.addresContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.addresItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.addresItem>i {
  font-size: 32px;
  width: 50px;
}

.addresMap {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.addresButton {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 80px;
}

.addresMap {
  overflow: hidden;
  /* border: 1px solid black; */
  /* height: 40%; */
}

.addresMap>img {
  height: 90%;
  transition: .3s;
}

.addresButton>button {
  background-color: var(--primary-color);
  border: none;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--light);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

.addresButton>button:hover {
  filter: brightness(1.1);
}

/* ----------------------------- components style */
/* header */
.header {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pedding-default);
}

/* studioheader */
.studioHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  position: absolute;
  top: 10px;
}


.divReturn {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--light);
  height: 30px;
  width: 75px;
  border-radius: 25px;
  font-size: 14px;
  transition: .3s;
  color: var(--primary-color);
}

.changeStyle {
  width: 30px;
}

.changeStyleSpan {
  display: none;
}

.divReturn>i {
  font-size: 16px;
  color: var(--primary-color);
}


.divStudio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.studioHeader .imgStudioHeader {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.studioName {
  color: var(--light);
  font-weight: lighter;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2rem;
}

.imgStudioHeader>img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* checkbox */
.inutCheckbox {
  all: unset;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--disable-color);
  border-radius: 50%;
}

.inutCheckbox:checked {
  background-color: var(--primary-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}


/* progres status */
.progressStatus {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--light);
}

.progressBar {
  background-color: #FFF;
  width: 300px;
  height: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 15%;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: var(--progress);
  z-index: 1;
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}

.check {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  z-index: 2;
  transition: width 0.5s ease-in-out;
}

.checkActive {
  background-color: var(--progress);
}


/* footer */
.footer {
  width: 100%;
  padding: var(--pedding-default);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  height: 50px;
}

.footerFloating {
  display: flex;
  height: 50px;
  gap: 10%;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 5px 30px;
  border-radius: var(--radius);
}

.footer .itemFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  cursor: pointer;
}

.itemFooter>i {
  font-size: 1.3rem;
  transition: .3s;
}

.itemFooter:hover i {
  color: var(--primary-color)
}

/* ----------------------------- responsive layout */
@media screen and (max-width: 900px) {
  /* homepage */
  .headerHome, .homeContent {
    padding: 5%;
  }

  .headerHomeImg > img {
    width: auto;
    height: 260px;
 }
  
  .headerHomeDescription {
    max-width: 400px;
  }

  .headerHomeDescription>p {
    font-size: 3rem;
  }

  .headerHomeDescription>h2 {
    font-size: 1.4rem;
  }

  .routeButton i {
    font-size: 1.2rem;
  }

  .routeButton p {
    font-size: 1.2rem;
  }

  /* professional */
  .professionalCard {
    height: 280px;
    width: 280px;
  }

  /* progress status */
  .progressBar {
    width: 270px;
  }

  /* footer */
  .itemFooter > i {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 600px) {
  /* homepage */
  .homePage {
    display: grid;
    grid-template-rows: 65% 35%;
    height: calc(100vh - 50px) !important;
  }

  .headerHome, .homeContent {
    padding: 3%;
  }

  .headerHome {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }

  .headerHomeImg > img {
     width: auto;
     height: 230px;
  }

  .headerHomeDescription > h2 {
    font-size: 1.2rem;
  }
  
  .headerHomeDescription {
    text-align: center;
    max-width: 100% !important;
  }

  .homeButtonsDiv {
    width: 100%;
  }

  .routeButton i {
    font-size: 1.1rem;
  }

  .routeButton p {
    font-size: 1.1rem;
  }

  /* professional */
  .cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .professionalCard {
    height: 200px;
    width: 200px;
  }

  /* progress status */
  .progressBar {
    width: 250px;
  }
  
}