/* ----------------------------- home */
.homePage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 60px);
  background-color: rgba(243, 243, 243, 0.767);
}

.homeTitle > p {
  font-size: 35px;
  font-family: 'Italiana', sans-serif;
  color: var(--light)
}

/* ---------- header */
.header {
  background-color: var(--primary);
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.studioHeaderAddres {
  width: 100%;
}

.studioHeaderAddres p {
  color: var(--light);
  font-weight: lighter;
}

.homeContent {
  position: absolute;
  bottom: -50%;

}

.imgContentStudio img {
  height: 100%;
}

@media screen and (max-width: 900px){

  .header {
   clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 90%);
   margin-bottom: 2.5rem;

  }

  .imgContentStudio {
    position: absolute;
    height: max-content;
    top: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .studioTitle {
    font-size: 10px;
    color: #F0F0F0;
    margin: auto;
    text-align: center;
    margin: 5px 0px -15px 0px;
  }
  
  .studioName {
    text-align: center;
    margin: -55px 0 0 0;
    font-size: 2.9rem;
    font-family: 'Reenie Beanie', cursive;
    color: #FAFAFA;
  }

  .studioIcons {
    display: flex;  
    align-items: center;
    justify-content: center;
 
  }

  .imgContentStudio h2 {
    color: #fafafa;
    width: 60%;
    margin: auto;
    font-weight: 700;
    text-align: center;
  }

  .homeContent {
      position:absolute;
      bottom: 23%;
      left: 50%;
      transform: translateX(-50%);
     
    }

  .homeButtonsDiv {
    flex-direction: column;
    gap: 10px !important;
  }

  .routeButton {
    background: var(--light) !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: row !important;
    height: max-content !important;
    justify-content: center !important;
    box-shadow: 2px 2px 7px 1px rgba(105, 105, 105, 0.144);
  }

  .routeButton > div  {
    display: flex;
    width: 40%;
  }
  
  
  .routeButton:hover {
    filter: brightness(1.1);
  }
  
  .routeButton i {

    font-size: 25px;
    margin-right: .5rem !important;
  }
  
  .routeButton p {
    color: #29084B !important;
    font-weight: lighter;
    font-size: 14px;
    font-weight: 500 !important; 
  }
  
 
}


/* ---------- content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButtonsDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 450px;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.imgContentStudio > img {
  height: 100%;
}

.colorIcon {
  color: var(--secondary-color)
}

/* ----------------------------- professional */
.professionalPage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 60px);
}

.professionalCard {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: .3s;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.professionalCard:hover {
  background-color: var(--hover);
}

.professionalDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.professionalCard .imgProfessional {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.imgPerfilProfessional > img {
  height: auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

/* ----------------------------- service */
.servicePage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 60px);
}

.serviceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding: 5px 15px;
  cursor: pointer;
  transition: .3s;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.serviceItem:hover {
  background-color: var(--hover);
}

.serviceTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.serviceDescription {
  font-size: 12px;
  min-height: 20px;
  color: rgb(34, 33, 33);
}

.services {
  margin-bottom: 2rem;
  height: max-content;
  max-height: 80%;
  overflow: auto;
  overflow-x: hidden;
}

.serviceContent::-webkit-scrollbar {
  width: 11px;
}

.serviceContent::-webkit-scrollbar-track {
  background-color: rgb(175, 175, 175);
}

.serviceContent::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 15px; 
}

.selectButton {
  width: 17px;
  height: 17px;
  accent-color: var(--primary);
}

.buttonDisabled {
  background-color: var(--disable-color) !important;
}

.buttonWhatsappDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonWhatsappDiv > button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px;
  color: var(--light);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-shadow: var(--box-shadow-default);
  -moz-box-shadow: var(--box-shadow-default);
  box-shadow: var(--box-shadow-default);
}

/* ----------------------------- addres */
.addresPage {
  display: grid;
  grid-template-rows: 10% 90%;
  height: calc(100vh - 60px);
}

.studioHeaderAddres {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.studioHeaderAddres > div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.studioHeaderAddres > p {
  color: var(--light);
  font-weight: lighter;
}

.imgContentStudio > img {
  height: 100%;
}

.addresInfo {
  background-color: var(--content-color);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.headerAddres {
  justify-content: flex-start;
}

.addresContent {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.addresItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.addresItem > i {
  font-size: 32px;
  width: 50px;
}

.addresMap {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.addresMap > img {
  height: 80%;
}

.addresMap > button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  border-radius: 3px;
  color: var(--light);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-shadow: var(--box-shadow-default);
  -moz-box-shadow: var(--box-shadow-default);
  box-shadow: var(--box-shadow-default);
}

/* ----------------------------- components style */
/* header */
.header {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pedding-default);
}

/* studioheader */
.studioHeader {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 10px;
}

.divReturn {
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.studioHeader .imgStudioHeader {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.studioHeader > p {
  color: var(--light);
  font-weight: lighter;
}

.imgStudioHeader > img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* progres status */
.progressStatus {
  display: flex;
  justify-content: center;
}

.divStatusProfessional, .divStatusService {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 120px;
  color: var(--light);
  text-align: center;
}

.bar {
  height: 2px;
  width: 100px;
  background-color: var(--light);
  margin-top: 23px;
}

.divColor {
  background-color: var(--light);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.orangeColor {
  background-color: var(--progress);
}

/* routebuttons */
.routeButton {
  height: 100px;
  width: 150px;
  padding: var(--pedding-default);
  border-radius: 7px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  -webkit-box-shadow: var(--box-shadow-default);
  -moz-box-shadow: var(--box-shadow-default);
  box-shadow: var(--box-shadow-default);
}

.routeButton:hover {
  filter: brightness(1.1);
}

.routeButton > i {
  font-size: 25px;
}

.routeButton > p {
  color: var(--light);
  font-weight: lighter;
  font-size: 14px;
}

/* footer */
.footer {
  width: 100%;
  background-color: var(--bg-footer);
  padding: var(--pedding-default);
  display: flex;
  align-items: center;
  height: 60px;
  gap: 5%;
  justify-content: center;
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.41);
}

.footer .itemFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.itemFooter > i {
  font-size: 17px;
}

.itemFooter > p {
  text-transform: uppercase;
}