/* ----------------------------- home */
.homePage {
  display: grid;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
}

.headerHome {
  display: flex;
  width: 100%;
  padding: 5px 10%;
  justify-content: space-between;
}

.homePage .studioName {
  font-size: 4rem;
}

.headerHomeDescription > .homePageDescription {
  color: var(--light);
  font-size: 2rem;
  font-weight: lighter;
}

.headerHomeImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerHomeImg > img {
  display: block;
  width: max-content;
}

.headerHomeDescription {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

/* ---------- content */
.homeContent {
  padding: 5% 10%;
  position: relative;
}

.homeButtonsDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 450px;
}

.colorIcon {
  color: var(--primary-color)
}

.routeButton {
  padding: var(--pedding-default);
  border-radius: var(--radius);
  background-color: var(--light);
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: .3s;
}

.routeButton:hover {
  background-color: var(--hover);
}

.routeButton i {
  font-size: 1.2rem;
  margin-right: .5rem !important;
}

.routeButton p {
  color: var(--primary-color);
  font-weight: lighter;
  font-size: 1.2rem; 
  font-weight: 500 !important;
}

/* ----------------------------- professional */
.professionalPage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
  overflow: auto;
}

.professionalContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-default);
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  overflow: auto;
}

.professionalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: .3s;
  background-color: var(--light);
  border-radius: var(--radius);
  height: 300px;
  width: 300px;
}

.professionalCard i {
  filter: drop-shadow(5px 2px 2px #cca5f8);
  font-size: 25px;
}

.imgContentStudio {
  position: absolute;
  bottom: -50%;
}

.professionalDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.professionalCard .imgProfessional {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.imgPerfilProfessional > img {
  height: auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

/* ----------------------------- service */
.servicePage {
  display: grid;
  grid-template-rows: 30% 70%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: var(--padding-default);
}

.serviceItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-default);
  cursor: pointer;
  gap: 3px;
  transition: .3s;
  background-color: var(--light);
  border-radius: var(--radius);
  width: 100%;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.serviceInfo > h3 {
  color: var(--title-color);
  font-size: 1rem;
  font-weight: 500;
}

.serviceInfo > .checkedTitle {
  color: var(--primary-color);
}

.serviceItem:hover {
  background-color: var(--hover);
}

.serviceTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.serviceDescription {
  font-size: 12px;
  min-height: 20px;
  color: rgb(34, 33, 33);
}

.services {
  margin-bottom: 2rem;
  height: max-content;
  max-height: 80%;
  overflow: auto;
  overflow-x: hidden;
}

.serviceContent::-webkit-scrollbar {
  width: 11px;
}

.serviceContent::-webkit-scrollbar-track {
  background-color: rgb(175, 175, 175);
}

.serviceContent::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: var(--radius); 
}

.selectButton {
  width: 17px;
  height: 17px;
  accent-color: var(--primary);
}

.buttonDisabled {
  background-color: var(--disable-color) !important;
}

.buttonWhatsappDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 80px;
}

.buttonWhatsappDiv > button {
  background-color: var(--primary-color);
  border: none;
  height: 40px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--light);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

.buttonWhatsappDiv > button:hover {
  filter: brightness(1.1);
}

/* ----------------------------- addres */
.addresPage {
  display: grid;
  grid-template-rows: 12% 88%;
  height: calc(100vh - 50px);
  background-color: var(--secondary-color);
}

.studioHeaderAddres {
  width: 100%;
}

.studioHeaderAddres p {
  color: var(--light);
  font-weight: lighter;
}

.studioHeaderAddres {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--padding-default);
}

.studioHeaderAddres > div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.studioHeaderAddres > p {
  font-size: 1rem;
  color: var(--light);
  font-weight: lighter;
}

.imgContentStudio > img {
  height: 100%;
}

.addresInfo {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 50%;
  align-items: center;
  justify-content: center;
}

.addresContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.addresItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.addresItem > i {
  font-size: 2rem;
  width: 50px;
}

.addresMap {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding: 10px;
}

.addresButton {
  width: 100%;
  display: flex;
  justify-content: center;
}

.addresMapImg {
  display: block;
  max-width: 100%;
  height: auto;
}

.addresMapImg img {
  max-width: 100%;
  height: auto;
}

.addresButton > button {
  background-color: var(--primary-color);
  border: none;
  height: 40px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light);
  border-radius: var(--radius);
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: .3s;
}

.addresButton > button:hover {
  filter: brightness(1.1);
}

/* ----------------------------- components style */
/* header */
.header {
  background-color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pedding-default);
}

/* studioheader */
.studioHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  position: absolute;
  top: 10px;
}

.studioName {
  font-family: 'Reenie Beanie', cursive;
  color: var(--light);
  font-size: 2rem;
}

.divReturn {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--light);
  height: 30px;
  width: 75px;
  border-radius: 25px;
  font-size: 14px;
  transition: .3s;
  color: var(--primary-color);
}

.changeStyle {
  width: 30px;
}

.changeStyleSpan {
  display: none;
}

.divReturn > i {
  font-size: 16px;
  color: var(--primary-color);
}


.divStudio {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 5px;
}

.studioHeader .imgStudioHeader {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.studioHeader > p {
  color: var(--light);
  font-weight: lighter;
}

.imgStudioHeader > img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* checkbox */
.inutCheckbox{
  all: unset;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--disable-color);
  border-radius: 50%;
}
.inutCheckbox:checked{
  background-color: var(--primary-color);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}


/* progres status */
.progressBar {
  background-color: var(--light);
  width: 300px;
  height: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.progress {
  position: absolute;
  height: 100%;
  background-color: var(--progress);
  z-index: 1;
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
}

.check {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  z-index: 2;
  transition: width 0.5s ease-in-out;
}

.checkActive {
  background-color: var(--progress);
}

/* ----------------------------- footer */
.footer {
  width: 100%;
  padding: var(--pedding-default);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.footerFloating {
  display: flex;
  height: 40px;
  gap: 10%;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 5px 30px;
  border-radius: var(--radius);
}

.footer .itemFooter {
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.itemFooter > i {
  font-size: 1.4rem;
  transition: .3s;
}

.itemFooter:hover i {
  color: var(--primary-color)
}

.itemFooter > p {
  text-transform: uppercase;
}

/* ----------------------------- responsive layout */
@media screen and (max-width: 900px){
  /* homepage */
  .homePage {
    display: grid;
    grid-template-rows: 60% 40%;
    height: calc(100vh - 50px);
  }

  .headerHome {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
  }

  .headerHomeImg > img {
    display: block;
    width: max-content;
    height: 200px;
  }

  .homePage .studioName {
    font-size: 3rem;
  }

  .headerHomeDescription > .homePageDescription {
    font-size: 1.4rem;
  }

  .homeButtonsDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }

  /* professional */
  .professionalCard {
    height: 250px;
    width: 250px;
  }

  .cardContent {
    gap: 20px;
  }

  /* addres */
  .addresContent {
    flex-wrap: wrap;
    overflow: auto;
  }

  .addresInfo {
    height: 88vh;
    width: 100%;
  }

  .addresMap {
    height: 88vh;
    width: 100%;
  }
  
}

@media screen and (max-width: 600px) {
  /* home */
  .headerHomeImg > img {
    display: block;
    width: max-content;
    height: 180px;
  }

  .homePage .studioName {
    font-size: 2.7rem;
  }

  .headerHomeDescription > .homePageDescription {
    font-size: 1.2rem;
  }

  .routeButton i {
    font-size: 1.1rem;
  }
  
  .routeButton p {
    font-size: 1.1rem; 
  }

  /* professional */
  .progressBar {
    width: 250px;
  }
  .professionalCard {
    height: 200px;
    width: 200px;
  }

  .cardContent {
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .serviceTitle {
    font-size: 0.9rem;
  }

  .serviceInfo > h3 {
    font-size: 0.9rem;
  }

  /* footer */
  .itemFooter > i {
    font-size: 1.2rem;
    transition: .3s;
  }
}
